#test img {
    width: 200px;
}

@media (max-width: 768px) {
    #test img {
        white-space: nowrap;
        /* Increased animation duration (optional) */
        animation: scroll-right-to-left 10s linear infinite;
    }

    @keyframes scroll-right-to-left {
        0% { transform: translateX(100%); }
        100% { transform: translateX(-400%); }  /* Adjusted end position */
    }
}

/* @media (min-width: 769px) {
    #test {
        flex-wrap: wrap; 
        justify-content: space-between; 
    }
} */

